<div class="new new1">
	<hr>
	<div class="post-heading">
		<span>{{recent.publishedAt | date('d') }}
			{{ recent.publishedAt | date('F') }}</span>

		<img class="img-responsive" src="{{ asset('images/index/gallery/' ~ recent.image) }}" alt="{{recent.title}}">
	</div>
	<div class="post-body">
		<span>
			<i class="fa fa-heart sr-icons"></i>
			{{recent.numLikes}}
			<i class="fa fa-comments sr-icons"></i>
			{{recent.numComments}}
		</span>
		<h4 class="text-left">
			<a href="{{ path('single_post', {'slug':recent.slug}) }}">{{ recent.title }}</a>

			By
			<span>{{ recent.user.name }}</span>

		</h4>
	</div>
</div>
