{% extends 'base.html.twig' %}
{% block title %}Blog
{% endblock %}
{% block body %}
	<!-- Principal Content Start -->
	<div id="blog">
		<div class="container">
			<div
				class="row">

<!-- Blocks of posts -->
<div class="col-xs-12 col-sm-8">
{% if posts %}
	{% for post in posts.results %}

		{{include ("partials/post.html.twig", {'post' : post})}}


	{% endfor %}
{% endif %}

	{% if posts.hasToPaginate %}
		<div class="text-left">
			<ul class="pagination">
				{% if posts.hasPreviousPage %}
					<li class="prev">
					<a href="{{ path('blog', {page: posts.previousPage}) }}" rel="previous">
						<i class="fa fw fa-long-arrow-left"></i>
						Previous</a>
				</li>
			{% else %}
				<li class="prev disabled">
					<span>
						<i class="fa fw fa-arrow-left"></i>
						Previous
					</span>
				</li>
			{% endif %}

			{% for i in 1..posts.lastPage %}
				{% if i == posts.currentPage %}
					<li class="active">
						<span>{{ i }}</span>
					</li>
				{% else %}
					<li>
						<a href="{{ path('blog', {page: i}) }}">{{ i }}</a>
					</li>
				{% endif %}
			{% endfor %}

			{% if posts.hasNextPage %}
				<li class="next">
					<a href="{{ path('blog', {page: posts.nextPage}) }}" rel="next">Next
						<i class="fa fw fa-arrow-right"></i>
					</a>
				</li>
			{% else %}
				<li class="next disabled">
					<span>Next
						<i class="fa fw fa-arrow-right"></i>
					</span>
				</li>
			{% endif %}
		</ul>
	</div>
{% endif %}
</div>				<!-- End of Blog Post -->

				<!-- Side bar -->
<div class="col-xs-12 col-sm-4">
	<form class="" action='{{ path('blog_buscar') }}'>
		<input type="text" class="form-control" style="display:unset; width:85%" placeholder="Search" name='searchTerm'>
		<button type='submit' class="btn btn-primary btn-danger">
			<i class="fa fa-search"></i>
		</button>
	</form>
	<div class="panel">
		<div class="panel-heading">
			<h4>Categories</h4>
		</div>
		<div class="panel-body">
			<ul class="nav">
		<li>
			<a href="#">Category I</a>
		</li>
		<li>
			<a href="#">Category II</a>
		</li>
		<li>
			<a href="#">Category III</a>
		</li>
		<li>
			<a href="#">Category IV</a>
		</li>
		<li class="last">
			<a href="#">Category V</a>
		</li>
</ul>
	</div>
</div>
<div class="well">
	<h4>Soluta</h4>
	<p>Quod soluta corrupti earum officia vel inventore vitae quidem, consequuntur odit impedit.</p>
</div>
<h3>Recent posts</h3>
<hr>
<div class="post">



        <h4>Recent Post</h4>
        <hr class="subtitle1">
        {% for recent in recents %}
        {{ include ('partials/recent_post.html.twig', {'recent': recent}) }}
        {% endfor %}
      

	</div>

</div>
<!-- End of Side bar -->

	</div>
</div>
</div>
	<!-- End of Principal Content Start -->

{% endblock %}
